node_modules/*
typings/*
public/user/*
public/webfonts/*
*.log
*.js.map
*.js
*.css
*.tmp.txt
.tscache
.vscode
.vs/*
*.komodoproject
.baseDir
!Gruntfile.js
!*.config.js
start.sh
!webpack.*.js
!test/test.js
